services:
  web:
    build: .
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py create_default_superuser &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8200:8000"
    depends_on:
      - db
    environment:
      - DEBUG=1
      - DB_HOST=db
      - DB_NAME=wheeler_keeper_db
      - DB_USER=wheeler_keeper_user
      - DB_PASSWORD=wheeler_keeper_password
      - DB_PORT=5432

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=wheeler_keeper_db
      - POSTGRES_USER=wheeler_keeper_user
      - POSTGRES_PASSWORD=wheeler_keeper_password
    ports:
      - "5432:5432"

volumes:
  postgres_data: